/* Menu.css */

.Menu {
    display: flex;
    flex-direction: column;
    background-color: #2e3b4e;
    padding: 20px;
    color: white;
}

.Logo {
    font-size: 24px;
}

.Menu-buttons {
    display: flex;
    gap: 15px;
}

.Buttons {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f4b400;
    border-radius: 5px;
    text-align: center;
}
