/* Główne style strony */
.Fullpage {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}

#TOP {
  width: 100%;
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Logo */
.logo img {
  width: 80px;  /* Dostosowanie szerokości logo */
  height: auto;
  margin-left: 20px;
  cursor: pointer; /* Zmiana kursora na rękę po najechaniu na logo */
}

/* Menu przyciski */
.buttons-menu {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.buttons-menu .buttons {
  padding: 10px 20px;  /* Ustawienie stałych rozmiarów przycisków */
  background-color: #61dafb;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;

  /* Stała szerokość i wysokość przycisków */
  width: 200px;  /* Stała szerokość przycisków */
  height: 50px;  /* Stała wysokość przycisków */
  min-width: 150px; /* Zapewnienie minimalnej szerokości */

  /* Wyśrodkowanie tekstu */
  display: flex;
  justify-content: center;
  align-items: center;

}

.buttons-menu .buttons:hover {
  background-color: #21a1f1;
}

/* Przycisk logowania */
.login {
  margin-right: 20px;
}

.login-button {
  padding: 10px 20px;
  background-color: #61dafb;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.login-button:hover {
  background-color: #21a1f1;
}

/* Responsywność */
@media (max-width: 768px) {
  #Menu {
    flex-direction: column;  /* Ustawienie menu w kolumnie na mniejszych ekranach */
  }

  .buttons-menu {
    flex-direction: column;  /* Ustawienie przycisków w kolumnie na mniejszych ekranach */
    gap: 10px;
  }

  .logo img {
    width: 60px;  /* Zmniejszenie logo na mniejszych ekranach */
  }

  .login {
    margin-right: 0;  /* Usunięcie marginesu z prawej strony na mniejszych ekranach */
  }

  #TOP {
    justify-content: space-between;  /* Ustawić logo i przyciski w poziomie */
    padding: 10px 0;
  }
}
